
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/res/layui/css/layui.css">
  <link rel="stylesheet" href="/res/css/global.css">
  <link rel="stylesheet" href="/res/font/font_download/iconfont.css">
  <script src="/res/js/jquery.min.js"></script>
</head>
<body style="margin-top: 65px;">
<style>
  .layui-bg-black{
    background-color: #785757!important;
  }
</style>
  <div class="fly-header layui-bg-black">
    <div class="layui-container">
      <a class="fly-logo" href="/">
        <i class="iconfont2 icon-JAVA" style="font-size: 25px;color: #5fb878"></i>
      </a>
      <ul class="layui-nav fly-nav layui-hide-xs">
        <li class="layui-nav-item">
          <a href="/"><i class="iconfont2 icon-shouye" style="font-size: 22px;top: -1px;"></i>首页</a>
        </li>
        <li class="layui-nav-item">
          <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
        </li>
      </ul>

      <ul class="layui-nav fly-nav-user">
        <!-- 登入后的状态 -->
        <li class="layui-nav-item login" th:if="${user!=null}">
          <a class="fly-nav-avatar" href="javascript:;">
            <cite class="layui-hide-xs" th:text="${user?.nickname}"></cite>
            <i style="color:#17abe3" class="iconfont2 icon-VIP" th:if="${user.identity=='会员'}" th:title="'认证信息：'+(${user.identity})"></i>
            <i style="" class="iconfont2 icon-guanliyuan" th:if="${user.identity=='管理员'}" th:title="'认证信息：'+(${user.identity})"></i>
            <div th:if="${user.identity=='会员'}" style="display: inline-block;">
              <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="'VIP'+${user.vipGrade}"></i>
            </div>
            <div th:if="${user.identity=='管理员'}" style="display: inline-block;">
              <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="管理员"></i>
            </div>
            <img th:src="${user.image} ?:'/userImg/0.jpg'" th:alt="${user.userName}">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/userManage/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="/userManage/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <dd><a th:href="@{/userManage/home(name=${user?.userName})}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
            <hr style="margin: 5px 0;">
            <dd><a href="/userManage/logout/" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
<div class="bg">
  <div class="fly-home fly-panel">
    <img th:src="${other.image} ?:'/res/images/avatar/0.jpg'" th:alt="${other.nickname}" style="margin-left: 40px;">
    <i style="color:#17abe3;font-size:30px" class="iconfont2 icon-VIP" th:if="${other.identity=='会员'}" th:title="'认证信息：'+(${other.identity})"></i>
    <i style="font-size: 30px" class="iconfont2 icon-guanliyuan" th:if="${other.identity=='管理员'}" th:title="'认证信息：'+(${other.identity})"></i>
    <h1>
      <p th:text="${other.nickname}"></p>
      <i th:class="${other.sex==0}?'iconfont icon-nan':'iconfont icon-nv'"></i>
      <!-- <i class="iconfont icon-nv"></i>  -->
      <div th:if="${other.identity=='会员'}">
        <i class="layui-badge fly-badge-vip" th:text="'VIP'+${other.vipGrade}"></i>
      </div>
      <!--
      <span style="color:#c00;">（管理员）</span>
      <span style="color:#5FB878;">（社区之光）</span>
      <span>（该号已被封）</span>
      -->
    </h1>

    <p style="padding: 10px 0; color: #5FB878;" th:text="'认证信息: '+${other.identity}"></p>

    <p class="fly-home-info">
      <i class="iconfont2 icon-jinbi" title="金币"></i><span style="color: #FF7200;" th:text="${other.gold}"></span>
      <i class="iconfont icon-shijian"></i><span th:text="${#calendars.format(other.registTime,'yyyy-MM-dd HH:mm:ss')}+'加入'"></span>
      <i class="iconfont icon-chengshi"></i><span th:text="'来自 '+(${other.city}?:'未知')"></span>
    </p>

    <p class="fly-home-sign" th:text="'个性签名： '+(${other.signature}?:'_')" ></p>

    <div class="fly-sns" data-user="" th:if="${user.id!=other.id}">
      <a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend" >加为好友</a>
      <a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>
    </div>

  </div>
</div>
  <div class="layui-container" style="width: 80%">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md6 fly-home-jie">
        <div class="fly-panel">
          <h3 class="fly-panel-title" th:text="${other.nickname}+' 最近的帖子'"></h3>
          <ul class="jie-row">
            <li th:each="topic:${userTopic}">
              <span class="layui-badge" style="background-color: #5FB878;"  th:if="${topic.end==1}">已结</span>
              <span class="layui-badge layui-bg-black"  th:if="${topic.top==1}">置顶</span>
              <span class="layui-badge layui-bg-red"  th:if="${topic.essence==1}">精帖</span>

              <a th:href="@{/topicManage/toDetail(id=${topic.id})}"  class="jie-title" th:text="${topic.title}"></a>
              <i th:text="${#calendars.format(topic.createTime,'yyyy-MM-dd HH:mm:ss')}"></i>
              <em class="layui-hide-xs" >
                <i class="iconfont" title="回答" style="font-size: 20px;top: -1px;">&#xe60c;</i>
                <span th:text="${topic.replyNum}" style="padding: 0px;background-color: white; color: black;"></span>
                <i class="iconfont" title="人气/点击数" style="font-size: 20px;top: -1px;">&#xe60b;</i>
                <span th:text="${topic.readNum}"  style="padding: 0px;background-color: white; color: black;"></span>
              </em>
            </li>

             <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;" th:if="${userTopic.size()==null}">最近没有发表任何求解</i></div>
          </ul>
        </div>
      </div>

      <div class="layui-col-md6 fly-home-da">
        <div class="fly-panel">
          <h3 class="fly-panel-title" th:text="${other.nickname}+' 最近的回答'"></h3>
          <ul class="home-jieda">
            <li th:each="reply:${userReply}">
              <p>
                <span th:text="${#calendars.format(reply.time,'yyyy-MM-dd HH:mm:ss')}"></span>
                在<a th:href="@{/topicManage/toDetail(id=${reply.topicId})}" target="_blank" th:text="${reply.topicTitle}"></a>中回答。
              </p>
            </li>
             <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;" th:if="${userReply.size()==0}"><span>最近没有回答任何问题</span></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="fly-footer">
  <p><a href="/" target="_blank">java交流社区</a> 2020 &copy;</p>
</div>

<script src="/res/layui/layui.js"></script>
<script>
  layui.cache.user = {
    username: '游客'
    ,uid: -1
    ,avatar: '../res/images/avatar/00.jpg'
    ,experience: 83
    ,sex: '男'
  };
  layui.config({
    version: "3.0.0"
    ,base: '/res/mods/' //这里实际使用时，建议改成绝对路径
  }).extend({
    fly: 'index'
  }).use('fly');

</script>

</body>
</html>