<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangpin.bbs.topicManage.mapper.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.wangpin.bbs.topicManage.bean.Reply">
    <!--@mbg.generated-->
    <!--@Table reply-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="to_user_name" jdbcType="VARCHAR" property="toUserName" />
    <result column="topic_title" jdbcType="VARCHAR" property="topicTitle" />
    <result column="accept" jdbcType="INTEGER" property="accept" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, content, topic_id, to_user_id, `time`, user_name, to_user_name, topic_title, 
    accept, user_img
  </sql>
  <select id="selectByExample" parameterType="com.wangpin.bbs.topicManage.bean.ReplyExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangpin.bbs.topicManage.bean.ReplyExample">
    <!--@mbg.generated-->
    delete from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wangpin.bbs.topicManage.bean.Reply" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reply (user_id, content, topic_id, 
      to_user_id, `time`, user_name, 
      to_user_name, topic_title, accept, 
      user_img)
    values (#{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{topicId,jdbcType=INTEGER}, 
      #{toUserId,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, 
      #{toUserName,jdbcType=VARCHAR}, #{topicTitle,jdbcType=VARCHAR}, #{accept,jdbcType=INTEGER}, 
      #{userImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wangpin.bbs.topicManage.bean.Reply" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="toUserId != null">
        to_user_id,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="toUserName != null">
        to_user_name,
      </if>
      <if test="topicTitle != null">
        topic_title,
      </if>
      <if test="accept != null">
        accept,
      </if>
      <if test="userImg != null">
        user_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null">
        #{toUserId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="toUserName != null">
        #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="topicTitle != null">
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        #{accept,jdbcType=INTEGER},
      </if>
      <if test="userImg != null">
        #{userImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangpin.bbs.topicManage.bean.ReplyExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update reply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.topicId != null">
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.toUserId != null">
        to_user_id = #{record.toUserId,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        `time` = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.toUserName != null">
        to_user_name = #{record.toUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicTitle != null">
        topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.accept != null">
        accept = #{record.accept,jdbcType=INTEGER},
      </if>
      <if test="record.userImg != null">
        user_img = #{record.userImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update reply
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      topic_id = #{record.topicId,jdbcType=INTEGER},
      to_user_id = #{record.toUserId,jdbcType=INTEGER},
      `time` = #{record.time,jdbcType=TIMESTAMP},
      user_name = #{record.userName,jdbcType=VARCHAR},
      to_user_name = #{record.toUserName,jdbcType=VARCHAR},
      topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      accept = #{record.accept,jdbcType=INTEGER},
      user_img = #{record.userImg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangpin.bbs.topicManage.bean.Reply">
    <!--@mbg.generated-->
    update reply
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null">
        to_user_id = #{toUserId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="toUserName != null">
        to_user_name = #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="topicTitle != null">
        topic_title = #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="accept != null">
        accept = #{accept,jdbcType=INTEGER},
      </if>
      <if test="userImg != null">
        user_img = #{userImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangpin.bbs.topicManage.bean.Reply">
    <!--@mbg.generated-->
    update reply
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=INTEGER},
      to_user_id = #{toUserId,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      to_user_name = #{toUserName,jdbcType=VARCHAR},
      topic_title = #{topicTitle,jdbcType=VARCHAR},
      accept = #{accept,jdbcType=INTEGER},
      user_img = #{userImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据提供帖子id查询回复数 -->
  <select id="countReplyByTopicId" resultType="int">
    SELECT
    count(*)
    FROM reply
    <where>
      <if test="topicId!=null ">
        AND topic_id= #{topicId, jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <!-- 根据提供帖子id分页查询回复 -->
  <select id="queryReplyByTopicId" resultType="com.wangpin.bbs.topicManage.bean.Reply" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM reply
    <where>
      id >=
      (select id from reply
      <where>
        <if test="topicId!=null ">
           topic_id= #{topicId, jdbcType=INTEGER}
        </if>
      </where>
      order by id asc limit #{offset}, 1)
      <if test="topicId!=null ">
        AND topic_id= #{topicId, jdbcType=INTEGER}
      </if>
      order by id asc limit 10
    </where>
  </select>

  <!-- 查询用户发帖数 -->
  <select id="countReplyByUid" resultType="int">
    SELECT
    count(*)
    FROM reply
    <where>
      <if test="uid!=null">
        AND user_id= #{uid, jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="queryResentlyReplyByUid" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM reply
    where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;=time
    and user_id= #{uid, jdbcType=INTEGER}
    limit 30
  </select>
</mapper>