<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangpin.bbs.topicManage.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.wangpin.bbs.topicManage.bean.Topic">
    <!--@mbg.generated-->
    <!--@Table topic-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
    <result column="last_reply_time" jdbcType="TIMESTAMP" property="lastReplyTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_reply_id" jdbcType="INTEGER" property="lastReplyId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="last_reply_name" jdbcType="VARCHAR" property="lastReplyName" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="topic_state" jdbcType="VARCHAR" property="topicState" />
    <result column="top" jdbcType="INTEGER" property="top" />
    <result column="end" jdbcType="INTEGER" property="end" />
    <result column="essence" jdbcType="INTEGER" property="essence" />
    <result column="read_num" jdbcType="INTEGER" property="readNum" />
    <result column="gold" jdbcType="INTEGER" property="gold" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, owner_id, reply_num, last_reply_time, content, title, module_id, create_time, 
    last_reply_id, owner_name, last_reply_name, module_name, topic_state, `top`, `end`, 
    essence, read_num, gold
  </sql>
  <select id="selectByExample" parameterType="com.wangpin.bbs.topicManage.bean.TopicExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangpin.bbs.topicManage.bean.TopicExample">
    <!--@mbg.generated-->
    delete from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wangpin.bbs.topicManage.bean.Topic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into topic (owner_id, reply_num, last_reply_time, 
      content, title, module_id, 
      create_time, last_reply_id, owner_name, 
      last_reply_name, module_name, topic_state, 
      `top`, `end`, essence, 
      read_num, gold)
    values (#{ownerId,jdbcType=INTEGER}, #{replyNum,jdbcType=INTEGER}, #{lastReplyTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastReplyId,jdbcType=INTEGER}, #{ownerName,jdbcType=VARCHAR}, 
      #{lastReplyName,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{topicState,jdbcType=VARCHAR}, 
      #{top,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}, #{essence,jdbcType=INTEGER}, 
      #{readNum,jdbcType=INTEGER}, #{gold,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wangpin.bbs.topicManage.bean.Topic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="replyNum != null">
        reply_num,
      </if>
      <if test="lastReplyTime != null">
        last_reply_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastReplyId != null">
        last_reply_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="lastReplyName != null">
        last_reply_name,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="topicState != null">
        topic_state,
      </if>
      <if test="top != null">
        `top`,
      </if>
      <if test="end != null">
        `end`,
      </if>
      <if test="essence != null">
        essence,
      </if>
      <if test="readNum != null">
        read_num,
      </if>
      <if test="gold != null">
        gold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null">
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="lastReplyTime != null">
        #{lastReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastReplyId != null">
        #{lastReplyId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="lastReplyName != null">
        #{lastReplyName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="topicState != null">
        #{topicState,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=INTEGER},
      </if>
      <if test="end != null">
        #{end,jdbcType=INTEGER},
      </if>
      <if test="essence != null">
        #{essence,jdbcType=INTEGER},
      </if>
      <if test="readNum != null">
        #{readNum,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        #{gold,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangpin.bbs.topicManage.bean.TopicExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from topic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update topic
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ownerId != null">
        owner_id = #{record.ownerId,jdbcType=INTEGER},
      </if>
      <if test="record.replyNum != null">
        reply_num = #{record.replyNum,jdbcType=INTEGER},
      </if>
      <if test="record.lastReplyTime != null">
        last_reply_time = #{record.lastReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleId != null">
        module_id = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastReplyId != null">
        last_reply_id = #{record.lastReplyId,jdbcType=INTEGER},
      </if>
      <if test="record.ownerName != null">
        owner_name = #{record.ownerName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastReplyName != null">
        last_reply_name = #{record.lastReplyName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicState != null">
        topic_state = #{record.topicState,jdbcType=VARCHAR},
      </if>
      <if test="record.top != null">
        `top` = #{record.top,jdbcType=INTEGER},
      </if>
      <if test="record.end != null">
        `end` = #{record.end,jdbcType=INTEGER},
      </if>
      <if test="record.essence != null">
        essence = #{record.essence,jdbcType=INTEGER},
      </if>
      <if test="record.readNum != null">
        read_num = #{record.readNum,jdbcType=INTEGER},
      </if>
      <if test="record.gold != null">
        gold = #{record.gold,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update topic
    set id = #{record.id,jdbcType=INTEGER},
      owner_id = #{record.ownerId,jdbcType=INTEGER},
      reply_num = #{record.replyNum,jdbcType=INTEGER},
      last_reply_time = #{record.lastReplyTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      module_id = #{record.moduleId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_reply_id = #{record.lastReplyId,jdbcType=INTEGER},
      owner_name = #{record.ownerName,jdbcType=VARCHAR},
      last_reply_name = #{record.lastReplyName,jdbcType=VARCHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      topic_state = #{record.topicState,jdbcType=VARCHAR},
      `top` = #{record.top,jdbcType=INTEGER},
      `end` = #{record.end,jdbcType=INTEGER},
      essence = #{record.essence,jdbcType=INTEGER},
      read_num = #{record.readNum,jdbcType=INTEGER},
      gold = #{record.gold,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangpin.bbs.topicManage.bean.Topic">
    <!--@mbg.generated-->
    update topic
    <set>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null">
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="lastReplyTime != null">
        last_reply_time = #{lastReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastReplyId != null">
        last_reply_id = #{lastReplyId,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="lastReplyName != null">
        last_reply_name = #{lastReplyName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="topicState != null">
        topic_state = #{topicState,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        `top` = #{top,jdbcType=INTEGER},
      </if>
      <if test="end != null">
        `end` = #{end,jdbcType=INTEGER},
      </if>
      <if test="essence != null">
        essence = #{essence,jdbcType=INTEGER},
      </if>
      <if test="readNum != null">
        read_num = #{readNum,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        gold = #{gold,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangpin.bbs.topicManage.bean.Topic">
    <!--@mbg.generated-->
    update topic
    set owner_id = #{ownerId,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=INTEGER},
      last_reply_time = #{lastReplyTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_reply_id = #{lastReplyId,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      last_reply_name = #{lastReplyName,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      topic_state = #{topicState,jdbcType=VARCHAR},
      `top` = #{top,jdbcType=INTEGER},
      `end` = #{end,jdbcType=INTEGER},
      essence = #{essence,jdbcType=INTEGER},
      read_num = #{readNum,jdbcType=INTEGER},
      gold = #{gold,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据提供的板块名，帖子名查询 -->
  <select id="selectByModuleNameOrTopicState" resultType="String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM topic
    <where>
      id >=(select id from topic limit #{offset}, 1)
        AND topic_state!="删除"
      <if test="moduleName !=null ">
        AND module_name= #{moduleName, jdbcType=CHAR}
      </if >
      <if test="end!= null ">
        AND topic.end = #{end, jdbcType=INTEGER}
      </if >
      <if test="essence!= null ">
        AND essence= #{end, jdbcType=INTEGER}
      </if >
      <if test="top!= null ">
        AND top= #{top, jdbcType=INTEGER}
      </if >
    </where>
     order by top DESC,create_time ASC limit 10
  </select>
</mapper>